.contact-page {
    text-align: center;
    padding: 2rem;
    animation: fadeIn 1s ease;
}
.contact-page h1 {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.contact-page p {
    font-size: 1.5rem;
}
.contact-page a {
    color: #ffffff;
    text-decoration: none;
}
.contact-page a:hover {
    transform: scale(1.5);
    color: #00bfff;
}