body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
.menu button {
    margin: 10px;
    padding: 20px 40px;
    font-size: 2em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menu button:hover {
    background-color: #555;
}
  
.tap-screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #fff;
}

.tap-text {
    color: #ffffff;
    user-select: none;
}

.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripple-animation 1s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    from {
        width: 20px;
        height: 20px;
        opacity: 1;
    }
    to {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}